@model ProyectoPAW.Models.AspNetUser

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Detalles del Usuario</h2>
<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Apellidos)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Apellidos)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Cedula)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Cedula)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Telefono)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </dl>
            <div>
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a>
                <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
            </div>
        </div>
    </div>
</div>

