@model IEnumerable<ProyectoPAW.Models.TcursoRecetum>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

}

<br />
<p>
    <a asp-action="Create" class="btn" style="background-color: #9c3840; color: white;">Agregar recetas al curso</a>
</p>

<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Curso.Nombre)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Receta.Nombre)</p>

                   
                    @* <a asp-action="Edit" asp-route-cursoId="@item.CursoId" asp-route-recetaId="@item.RecetaId">Editar</a> *@

                    
                    <form asp-action="Delete" asp-route-cursoId="@item.CursoId" asp-route-recetaId="@item.RecetaId" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar esta receta del curso?');">
                        <button type="submit" class="btn btn-default px-3 me-2">Eliminar</button>
                    </form>
                   

                </div>
            </div>
        </div>
    }

</div>